:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-modal-footer {
  display: none !important;
}
/* Get.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th,
tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

thead th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.edit-delete-cell {
  text-align: center;
}

/* Add more styles as needed */
